@tailwind base;
@tailwind components;
@tailwind utilities;

.ReactModal__Content {
  position: relative;
  max-width: 1024px;
  inset: 90px !important;
  margin: 0 auto;
  max-height: 660px;
}

@media screen and (max-width: 1250px)  {
  .ReactModal__Content {
    inset: 50px !important;
  }
}

@media screen and (max-width: 500px)  {
  .ReactModalPortal {
    display: none;
  }
}
